body {
    background-image: url('https://media.gettyimages.com/id/453732757/vector/seamless-gambling-card-suits-background.jpg?s=612x612&w=0&k=20&c=1XVD5WOCbLgUQEkzBqB5PXX3cbEQZNa8gQRLoy7eRII=');
    background-size: cover;
    background-position: center;
}